/* Enter your custom styles here */

.zansrbl .sapMLabel {
    display: none;
}

div[id*='ztagbox'] .sapMFlexItem {
    padding: 0 0 0 .5rem;
    border-radius: 5px;
    background-color: #80ced6;
    min-width: 6.3rem !important;
}

div[id*='ztagbox'] .sapMCb,
div[id*='ztagbox'] .sapMCbLabel {
    cursor: pointer;
}


/*.sapMFlexBox.demoBox {*/


/*	border-radius: 10px;*/


/*	background-color: #427cac;*/


/*	text-align: center;*/


/*}*/


/*.demoBox .sapMText {*/


/*	color: #ffffff;*/


/*}*/


/*.sapMText.message {*/


/*	font-weight: bold;*/


/*}*/